.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 50px 0;
}

.profile__container {
  display: flex;
  column-gap: 30px;
}

.profile__avatar {
  width: 167px;
  height: 167px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__bio_name {
  display: inline-block;
  font-family: Inter;
  font-size: 2.62rem;
  font-weight: 500;
  line-height: 1.14;
  margin: 22px 18px 16px 0;
  color: white;
}

.profile__bio-button--open {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}

.profile__bio-button_image {
  width: 24px;
  height: 24px;
  vertical-align: baseline;
}

.profile__bio-button_image:hover {
  opacity: 60%;
}

.profile__bio_modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  backdrop-filter: blur(3px);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.profile__bio_modal-container--show {
  pointer-events: auto;
  opacity: 1;
}

.profile__bio_modal-container_img-content {
  position: relative;
}

.profile__bio_modal-container-picture{
  max-width: 75vw;
  max-height: 75vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.profile__bio_modal-container-caption {
  position: absolute;
  left: 0;
  bottom: -50px;
  background-color: white;
  padding: 5px 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.14;
}

.profile__bio_form {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  width: 430px;
  padding: 36px;
  border-radius: 10px;
  border-bottom: 4px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.profile__bio_form-title {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.21;
  margin: 0;
  margin-bottom: 54px;
}

.profile__bio_form-input {
  height: 28px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  font-family: Inter;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000;
}

.profile__bio_form_input-name {
  margin-bottom: 30px;
}

.profile__bio_form-input::placeholder {
  font-family: Inter;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.21;
  color: #c4c4c4;
}

.profile__bio-button--save {
  height: 50px;
  border-radius: 2px;
  background-color: black;
  font-family: Inter;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 1.21;
  color: #ffffff;
  margin-top: 48px;
}

.profile__bio-button--save:hover {
  opacity: 80%;
  cursor: pointer;
}

.profile__bio-button--save:disabled {
  border: 2px solid rgba(196, 196, 196, 1);
  background-color: transparent;
  color: rgba(196, 196, 196, 1);
  cursor: not-allowed;
  opacity: 0.5;
}

.profile__bio-button--close {
  position: absolute;
  top: -50px;
  right: -50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profile__bio-button--close-icon {
  width: 40px;
  height: 40px;
}

.profile__bio-button--close-icon:hover {
  opacity: 60%;
}

.profile__bio_description {
  font-family: Inter;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 1.21;
  color: white;
}

.profile__bio_add {
  border: 2px solid #fff;
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile__bio_add:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__bio_add_button {
  width: 22px;
  height: 22px;
}

@media (max-width: 890px) {
  .profile__avatar {
    width: 120px;
    height: 120px;
  }

  .profile__bio_name {
    display: inline-block;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.14;
    margin: 22px 18px 10px 0;
    color: white;
  }

  .profile__bio_description {
    font-size: 1rem;
    line-height: 1.21;
  }

  .profile__bio_add {
    width: 115px;
    height: 50px;
  }
}

@media (max-width: 675px) {
  .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 50px 0;
  }

  .profile__avatar {
    width: 120px;
    margin: 0 auto;
  }

  .profile__bio {
    margin: 0 0 36px 0;
  }

  .profile__container {
    flex-direction: column;
  }

  .profile__bio_name {
    display: inline-block;
    font-size: 1.37rem;
    font-weight: 500;
    line-height: 1.21;
    margin: 30px 5px 14px 0;
    color: white;
  }

  .profile__bio-button_image {
    width: 18px;
    height: 18px;
  }

  .profile__bio_description {
    font-size: 0.875rem;
    margin-top: 0;
    font-weight: 400;
    line-height: 1.21;
    text-align: center;
  }

  .profile__bio_add {
    width: 282px;
    height: 50px;
  }

  .profile__bio_form {
    box-sizing: border-box;
    width: 282px;
    height: 322px;
    padding: 22px;
  }

  .profile__bio_form-title {
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 1.21;
    margin-bottom: 76px;
  }

  .profile__bio-button--close {
    top: -50px;
    right: 0;
  }

  .profile__bio-button--close-icon {
    width: 26px;
    height: 26px;
  }
}
